[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
psycopg2-binary = "*"
pip = "*"
install = "*"
crispy-bootstrap5 = "*"
django-braces = "*"
django-embed-video = "*"
python-memcached = "*"
django-memcache-status = "*"

[dev-packages]

[requires]
python_version = "3.9"
