{% extends 'base.html' %}

{% block title %}My Course{% endblock title %}

{% block content %}


<div class="card">
    <div class="card-header">
        <h1>My Courses</h1>
    </div>
    {% for course in my_courses %}

    <div class="card mt-2">
        <div class="card-body ">
            <h5 class="card-title">{{course.title}}</h5>
            <p class="card-text">{{course.overview}}</p>
            <a href="{% url 'courses:course_edit' course.id %}">Edit</a>
            <a href="{% url 'courses:course_delete' course.id %}">Delete</a>
        </div>
    </div>
    {% empty %}

    <div class="card-body">
        <p class="card-text">You haven't created any courses yet.</p>
        {% endfor %}
        <a href="{% url 'courses:course_create' %}" class="btn btn-primary">Create New Course</a>
    </div>
</div>



{% endblock content %}