{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="py-5 text-center container">
   <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">

         <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" value="Login">
         </form>
      </div>
   </div>

</div>
</div>




{% endblock content %}